# Dotenv files
.env
**/.env
*.env
**/*.env

# Exclude non-core directories
.venv/
data_gatherer.egg-info/
docs/
drivers/
logs/
prompts/
scripts/
!scripts/Local_model_finetuning/train_flan_t5.py
!scripts/Local_model_finetuning/train_seq2seq.py
!scripts/Local_model_finetuning/ground_truth/gt_dataset_info_no_dspage_extraction_from_snippet.xlsx
!scripts/exp_input/REV.txt
tests/
tmp/
.git
/data_gatherer/parser/grobid-0.8.2

# Exclude specific files
test_refactor.ipynb

# Common Python project ignores
__pycache__/
*.pyc
.pytest_cache/
.vscode/
.idea/
.DS_Store
.mypy_cache/
.coverage
.ipynb_checkpoints/
.cache/
pip-wheel-metadata/
dist/
build/
