beautifulsoup4==4.12.3
bs4
lxml
numpy
ollama
openai
pandas
pydantic
pydantic_core
python-dotenv
PyYAML
regex
requests
selenium==4.28.0
tokenizers
torch
transformers
typing_extensions
webdriver-manager